body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: large;
}
body {
    background-image: url(bcsbrba.jpg);
    background-repeat: no-repeat;
    background-size: 103%;
}

.question {
    text-align: left;

}

#question img {
    display: block;
    margin: 0 auto; 
    max-width: 50%; 
}

.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 400px auto 0;
    border-radius: 30px;
    padding: 30px;
    border: 3px, solid black;
}

.app h1 {
    font-weight: 25px;
    color:black;
    font-weight: 600;
    border-bottom: 1px solid;

}

.quiz{
    padding: 0px 0;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover{
    background-color: black;
    color: white;
}


#next-btn {
    background-color: gainsboro;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#next-btn:hover {
    background-color: black;
    color: white;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393
}